body{

    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),#3551b5), url(../Assets/vaccination.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
}


.content{
    
    height: 550px;
    width: 480px;
    
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    
  

}


.form-label{

    font-weight: bold;
    font-size: larger;
}

.btn btn-info{
    font-weight:bold;
    display: inline-block;
    padding: 2px 2px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:blue;
    color:black;
    background-color:transparent;
    border: none;
    border-radius: 12px;
    box-shadow: 0 9px #999;
  
}

input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    border-radius: 12%;
    color: azure;
    background: transparent;
    font-size: 15px;

}

.col-md-4{
    color: #fff;
}


.form-control{
    color: rgb(40, 198, 238);
}

.placeholder{
    color: rgb(238, 40, 40);
}